{% extends "layout/index.html" %}
{% block head %}
{{ parent() }}
 
{% endblock %}
{% block content %}

<div class="pcoded-content">
	<div class="pcoded-inner-content">
		<!-- Main-body start -->
		<div class="main-body">
			<div class="page-wrapper">
				<div class="page-body">
					<!-- row start -->
					<div class="row mb-5">
						<div class="col-xl-9 col-md-12 h6 mb-5">
							<span class="pr-1">Click:</span> <span class="font-weight-bold">10</span>
							<span class="pr-1 pl-3">My Best:</span><span class="font-weight-bold">15</span>
							<span class="pr-1 pl-3">Global Best:</span><span class="font-weight-bold">12</span>
						</div>
						<div class="col-xl-3 col-md-12 text-right">
							<button class="btn btn-primary btn-block p-t-15 p-b-15 " onclick="fnService.setNewGame();">New Game</button>
						</div>
					</div>
					<div class="row">
						{% for i in 0..11 %}
						<div class="col-xl-3 col-md-6">
							<div class="card">
								<div class="card-block">
									<div class="row m-l-0">
										<div class="col-auto card-item text-center" >
											 <p class="h2 p-5 card-item-number"></p>
										</div>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
{% block footer %}
{{ parent() }}

<script>
var fnService = {
	ele_btn_newgame : document.getElementsByClassName("btn-new-game"),
	ele_card : document.getElementsByClassName("card-item-number"),
	token : '{{ token }}',
	request : new XMLHttpRequest(),
	setNewGame: function() {
		fnService.request.withCredentials = true;
        fnService.request.open('GET', '{{ base_url }}/set-new-game/'+ fnService.token, true);
        fnService.request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
        fnService.request.onreadystatechange = function() {
            if(fnService.request.readyState == 4 && fnService.request.status == 200) {
                console.log(fnService.request.responseText);
            }
        }
        fnService.request.send();
        for (var i=0; i<fnService.ele_card.length; i++) {
            fnService.ele_card[i].innerHTML = 0;
        }
	},	
	init : function(){
	 	
 		fnService.setNewGame();
	}
}

fnService.init();
</script>

{% endblock %}