{% block footer %}

<script type="text/javascript" src="{{ base_url }}/theme/bower_components/jquery/js/jquery.min.js"></script>
<script type="text/javascript" src="{{ base_url }}/theme/bower_components/jquery-ui/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{ base_url }}/theme/bower_components/popper.js/js/popper.min.js"></script>
<script type="text/javascript" src="{{ base_url }}/theme/bower_components/bootstrap/js/bootstrap.min.js"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="{{ base_url }}/theme/bower_components/jquery-slimscroll/js/jquery.slimscroll.js"></script>
<!-- modernizr js -->
<script type="text/javascript" src="{{ base_url }}/theme/bower_components/modernizr/js/modernizr.js"></script>
<script type="text/javascript" src="{{ base_url }}/theme/bower_components/modernizr/js/css-scrollbars.js"></script>
<script type="text/javascript" src="{{ base_url }}/theme/assets/js/jquery.inputmask.bundle.js"></script>

{% endblock %}

